

<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Desc</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>

  <% @listings.each do |listing| %>
  <tr>
    <td> <%= image_tag listing.image.recreate_versions! %> </td>
    <td> <%= listing.name %> </td>
    <td> <%= listing.description %> </td>
    <td> <%= number_to_currency(listing.price) %> </td>
    <td> 
       <%= link_to "View",listing, class: "btn btn-link"%>
       <%= link_to "Edit",edit_listing_path(listing) , class: "btn btn-link"%>
       <%= link_to 'Destroy', listing, class: "btn btn-link", method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
  <% end %>
  </table>

